In [2]:
import pandas as pd
import numpy as np
from toolbox_ML import *

In [4]:
# Dataset original:

data = pd.read_csv('../data/Study 4 - Kennel Card Change Analysis-1.csv')

In [5]:
# Vistazo r√°pido:
data.head(5)

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
0,4/15/13,A261767,STRAY,OTC,4/29/13,ADOPTION,AIREDALE TERR,JACK RUSS TER,4,0.0,Adopt/Live Exit,Airedale Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,14,Adult (1-7yr)
1,1/22/14,A283915,OWNER SURR,FIELD,2/1/14,ADOPTION,AIREDALE TERR,SHIH TZU,1,1.0,Adopt/Live Exit,Airedale Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,10,Adult (1-7yr)
2,1/22/14,A283918,OWNER SURR,FIELD,1/31/14,ADOPTION,AIREDALE TERR,SHIH TZU,1,1.0,Adopt/Live Exit,Airedale Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,9,Adult (1-7yr)
3,2/11/13,A256935,STRAY,FIELD,2/15/13,ADOPTION,AIREDALE TERR,MIX,2,0.0,Adopt/Live Exit,Airedale Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,4,Adult (1-7yr)
4,1/6/14,A282788,STRAY,FIELD,1/8/14,EUTH,AIREDALE TERR,MIX,6,0.0,Euthanized/Dead,Airedale Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,2,Adult (1-7yr)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17425 entries, 0 to 17424
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   intake_date      17425 non-null  object
 1   animal_id        17425 non-null  object
 2   intake_type      17425 non-null  object
 3   intake_subtype   17425 non-null  object
 4   outcome_date     17425 non-null  object
 5   outcome_type     17425 non-null  object
 6   primary_breed    17425 non-null  object
 7   secondary_breed  17425 non-null  object
 8   years_old        17425 non-null  int64
 9   months_old       17425 non-null  float64
 10  OutcomeGroup     17425 non-null  object
 11  Breed            17425 non-null  object
 12  PitBullType      17425 non-null  object
 13  PitBullExpanded  17425 non-null  object
 14  AKC              17425 non-null  object
 15  AKC_Extended     17425 non-null  object
 16  KennelCardBreed  17425 non-null  object
 17  LOS              17425 non-null  int64
 18  AgeGroup         17425 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 2.5+ MB

In [7]:
describe_df(data)

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
Tipo de dato,object,object,object,object,object,object,object,object,int64,float64,object,object,object,object,object,object,object,int64,object
Porcentaje de nulos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Valores √∫nicos,767,16133,9,13,726,13,164,114,25,44,4,150,2,2,7,8,2,98,5
Porcentaje de cardinalidad,4.4,92.59,0.05,0.07,4.17,0.07,0.94,0.65,0.14,0.25,0.02,0.86,0.01,0.01,0.04,0.05,0.01,0.56,0.03

In [8]:
# Entendiendo las features:

tipifica_variable(data, 50, 20) # considero hasta 50 categor√≠as y a partir del 20% pasa de discreta a

                     tipo_sugerido
intake_date      Num√©rica Discreta
animal_id        Num√©rica Continua
intake_type             Categ√≥rica
intake_subtype          Categ√≥rica
outcome_date     Num√©rica Discreta
outcome_type            Categ√≥rica
primary_breed    Num√©rica Discreta
secondary_breed  Num√©rica Discreta
years_old               Categ√≥rica
months_old              Categ√≥rica
OutcomeGroup            Categ√≥rica
Breed            Num√©rica Discreta
PitBullType                Binaria
PitBullExpanded            Binaria
AKC                     Categ√≥rica
AKC_Extended            Categ√≥rica
KennelCardBreed            Binaria
LOS              Num√©rica Discreta
AgeGroup                Categ√≥rica

| Feature | Descripci√≥n | Tipo | Comentario |
| --- | --- | --- | --- |
| intake_date | Fecha de entrada del animal al refugio | obj - Num√©rica Discreta | FECHA - IMPORTA|
| animal_id | identificador del perro | obj - Num√©rica Continua | No interesa |
| intake_type | motivo de la recogida | obj - Categ√≥rica | MOTIVO - IMPORTA |
| intake_subtype | motivo del abandono | obj - Categ√≥rica | MOTIVO - IMPORTA |
| outcome_date | fecha de salida | obj - Num√©rica Discreta | FECHA - Descartar (informaci√≥n que no tendremos a furutos)|
| outcome_type | motivo de salida | obj - Categ√≥rica | MOTIVO - Descartar (informaci√≥n que no tendremos a furutos) |
| primary_breed | Raza primaria | obj - Categ√≥rica | = Breed? - IMPORTA |
| secondary_breed | Raza secundaria | obj - Categ√≥rica | IMPORTA |
| years_old | a√±os de vida | int - Categ√≥rica  | IMPORTA |
| months_old | meses de vida | obj - Categ√≥rica | IMPORTA? - valorar modificar y unir a years_old|
| OutcomeGroup | tipo de salida del refugio | obj - Categ√≥rica | MOTIVO - Descartar (valorar para TARGET 2 categ√≥rico) |
| Breed | Raza oficial | obj - Categ√≥rica | = primary_breed? - Descartar |
| PitBullType | Es tipo PPP? | obj - Binaria | IMPORTA  |
| PitBullExpanded | Contiene algo de PPP? | obj - Binaria | IMPORTA  |
| AKC | Grupo del Kennel Club | obj - Categ√≥rica | Informaci√≥n repetida? - Descartar? |
| AKC_Extended | grupo del Kennel Club - Terriers separados | obj - Categ√≥rica | Informaci√≥n repetida? - Descartar? |
| KennelCardBreed | Etiqueta de la raza en la perrera | obj - Binaria | IMPORTANTE seg√∫n estudio |
| LOS | Length of Stay | int - Num√©rica Discreta  | TARGET 1 |
| AgeGroup | Grupo de edad al que pertenece | obj - Categ√≥rica | Informaci√≥n repetida? - Descartar? |

In [9]:
# An√°lisis de valor faltante

data['animal_id'].loc[data.duplicated()]

496      A261740
3883     A279503
5997     A307282
7350     A287053
7421     A284338
7824     A191030
8706     A307182
11342    A307073
11645    A303264
12013    A264597
12262    A275552
15151    A305410
15583    A283804
17264    A307629
Name: animal_id, dtype: object

In [10]:
# Al buscar los animales que han estado mas de una vez en el refugio, me doy cuenta que hay celdas vac√≠as ' '.

data[data['animal_id'] == 'A261740']

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
489,4/15/13,A261740,STRAY,OTC,4/19/13,ADOPTION,AMER FOXHOUND,,1,0.0,Adopt/Live Exit,American Foxhound,Not PB,Not PB,Hound,Hound,With Breed,4,Adolescent (5-12mo)
495,4/25/13,A261740,RETURN,OTC,4/26/13,ADOPTION,AMER FOXHOUND,,1,0.0,Adopt/Live Exit,American Foxhound,Not PB,Not PB,Hound,Hound,With Breed,1,Adolescent (5-12mo)
496,4/25/13,A261740,RETURN,OTC,4/26/13,ADOPTION,AMER FOXHOUND,,1,0.0,Adopt/Live Exit,American Foxhound,Not PB,Not PB,Hound,Hound,With Breed,1,Adolescent (5-12mo)

In [11]:
data.secondary_breed.value_counts() # Los perros de pura raza no tienen valor en secondary_breed

secondary_breed
                 8660
MIX              6166
LABRADOR RETR     369
PIT BULL          363
GERM SHEPHERD     193
                 ...
ST BERNARD RG       1
ENG SPRNGR SP       1
MANCHESTER TE       1
DACHSHUND WH        1
GORDON SETTER       1
Name: count, Length: 114, dtype: int64

In [12]:
# Funci√≥n para localizar estos valores vacios:

def is_blank_or_whitespace(cell):
    return isinstance(cell, str) and cell.strip() == ''

mask = data.applymap(is_blank_or_whitespace)
empty_rows = data[mask.any(axis=1)]

empty_rows

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
5,5/7/13,A263802,STRAY,FIELD,6/7/13,LOST EXP,AUST TERRIER,,0,0.0,Lost/Found/Missing,Australian Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,31,Puppy (0-4mo)
14,11/6/13,A279171,STRAY,OTC,11/15/13,RESCUE,BORDER TERRIER,,2,0.0,Adopt/Live Exit,Border Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,9,Adult (1-7yr)
25,3/13/13,A242219,STRAY,OTC,3/19/13,ADOPTION,BORDER TERRIER,,0,11.0,Adopt/Live Exit,Border Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,6,Adolescent (5-12mo)
36,5/1/13,A263214,STRAY,OTC,5/1/13,EUTH,BORDER TERRIER,,0,7.0,Euthanized/Dead,Border Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,0,Adolescent (5-12mo)
46,5/3/13,A263487,STRAY,FIELD,6/3/13,LOST EXP,CAIRN TERRIER,,0,0.0,Lost/Found/Missing,Cairn Terrier,Not PB,Not PB,Terrier,Other Terriers,With Breed,31,Puppy (0-4mo)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17410,9/15/14,A300902,STRAY,FIELD,9/17/14,RTO,STAFFORDSHIRE,,5,2.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,2,Adult (1-7yr)
17411,9/23/14,A301500,OWNER SURR,OTC,9/25/14,ADOPTION,STAFFORDSHIRE,,2,6.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,2,Adult (1-7yr)
17417,3/8/14,A286447,STRAY,FIELD,3/8/14,RTO,STAFFORDSHIRE,,2,0.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,0,Adult (1-7yr)
17421,5/2/14,A287129,FOSTER,OTC,5/2/14,ADOPTION,STAFFORDSHIRE,,1,0.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,0,Adolescent (5-12mo)
17423,12/5/14,A306977,EUTH REQ,OTC OWNED,12/5/14,EUTH,STAFFORDSHIRE,,15,0.0,Euthanized/Dead,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,0,Senior (8+yr)

In [13]:
# Relleno los espacios vacios con la palabra 'unknown'

data = data.applymap(lambda x: 'unknown' if is_blank_or_whitespace(x) else x)

In [14]:
mask = data.applymap(is_blank_or_whitespace)
empty_rows = data[mask.any(axis=1)]

empty_rows

Empty DataFrame
Columns: [intake_date, animal_id, intake_type, intake_subtype, outcome_date, outcome_type, primary_breed, secondary_breed, years_old, months_old, OutcomeGroup, Breed, PitBullType, PitBullExpanded, AKC, AKC_Extended, KennelCardBreed, LOS, AgeGroup]
Index: []

In [15]:
data.secondary_breed.value_counts()

secondary_breed
unknown          8660
MIX              6166
LABRADOR RETR     369
PIT BULL          363
GERM SHEPHERD     193
                 ...
ST BERNARD RG       1
ENG SPRNGR SP       1
MANCHESTER TE       1
DACHSHUND WH        1
GORDON SETTER       1
Name: count, Length: 114, dtype: int64

In [16]:
# value_counts de todas las filas para asegurarme que todo est√° Okey. (Las he sobrepuesto para no extender el notebook)
data.outcome_type.value_counts(normalize=True)

outcome_type
ADOPTION    0.388063
EUTH        0.212798
RTO         0.131076
RESCUE      0.092453
LOST EXP    0.084878
HOME EXP    0.035294
DISPOSAL    0.022382
FOSTER      0.018824
DIED        0.005796
TRANSFER    0.005050
RELOCATE    0.002984
MISSING     0.000344
unknown     0.000057
Name: proportion, dtype: float64

In [17]:
# Inspecci√≥n del animal del cual no se tiene mucha informaci√≥n (por suerte solo es 1):
data[data['OutcomeGroup'] == 'unknown']

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
6545,4/14/14,A288981,OWNER SURR,unknown,4/16/14,unknown,BEAGLE,unknown,4,0.0,unknown,Beagle,Not PB,Not PB,Hound,Hound,Without Breed,2,Adult (1-7yr)

In [18]:
# Decido descartarlo de mi dataset para el modelo:
data.drop(6545, inplace=True)

In [19]:
# Un perro no puede tener 110 a√±os... 
data['years_old'].value_counts()

years_old
0      5667
1      2872
2      2546
3      1543
4       974
5       728
6       523
8       488
7       392
10      331
9       225
12      225
14      201
13      199
15      157
11      157
16       95
17       48
18       28
20       12
19        8
25        2
21        1
24        1
110       1
Name: count, dtype: int64

In [20]:
data[data['years_old'] == 110]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
11273,7/17/14,A296308,STRAY,FIELD,7/22/14,RTO,PUG,unknown,110,0.0,Adopt/Live Exit,Pug,Not PB,Not PB,Toy,Toy,Without Breed,5,Senior (8+yr)

In [21]:
# Decido asumir que es un error y en realidad tiene 11 a√±os.
data['years_old'][11273] = 11

In [22]:
data['years_old'][11273]

11

In [23]:
# Convierto los meses de mas de 12 a a√±os:
data[data['months_old'] == 12]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
16599,1/29/15,A310330,OWNER SURR,FIELD,2/3/15,ADOPTION,PIT BULL,unknown,0,12.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,5,Adolescent (5-12mo)

In [24]:
data['months_old'][16599] = 0
data['years_old'][16599] = 1

In [25]:
data[data['months_old'] == 13]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
2832,12/3/13,A280778,CRUELTY,CRUELTY,12/3/13,RELOCATE,LABRADOR RETR,PIT BULL,0,13.0,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,With Breed,0,Adult (1-7yr)
11927,7/28/13,A271371,STRAY,OTC,8/16/13,ADOPTION,AMER BULLDOG,BOXER,0,13.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,With Breed,19,Adult (1-7yr)

In [26]:
data['months_old'][2832] = 1
data['years_old'][2832] = 1

data['months_old'][11927] = 1
data['years_old'][11927] = 1

In [27]:
data[data['months_old'] == 14]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
7932,11/6/14,A262965,OWNER SURR,FIELD,11/24/14,RESCUE,LABRADOR RETR,MIX,0,14.0,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,18,Adult (1-7yr)
7968,11/6/14,A262966,OWNER SURR,FIELD,11/21/14,EUTH,LABRADOR RETR,CHOW CHOW,0,14.0,Euthanized/Dead,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,15,Adult (1-7yr)
8031,11/6/14,A262964,OWNER SURR,FIELD,11/18/14,EUTH,LABRADOR RETR,CHOW CHOW,0,14.0,Euthanized/Dead,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,12,Adult (1-7yr)
14008,6/18/13,A267745,OWNER SURR,OTC,6/20/13,EUTH,PIT BULL,unknown,0,14.0,Euthanized/Dead,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,With Breed,2,Adult (1-7yr)

In [28]:
data['months_old'][7932] = 2
data['years_old'][7932] = 1

data['months_old'][7968] = 2
data['years_old'][7968] = 1

data['months_old'][8031] = 2
data['years_old'][8031] = 1

data['months_old'][14008] = 2
data['years_old'][14008] = 1

In [29]:
data[data['months_old'] == 15]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
9795,6/9/14,A293292,OWNER SURR,OTC,6/13/14,ADOPTION,ENG BULLDOG,unknown,0,15.0,Adopt/Live Exit,Bulldog,Not PB,Not PB,Non-sporting,Non-sporting,Without Breed,4,Adult (1-7yr)
15119,6/16/14,A293884,STRAY,FIELD,7/16/14,LOST EXP,PIT BULL,unknown,0,15.0,Lost/Found/Missing,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,30,Adult (1-7yr)
16382,1/8/15,A309043,OWNER SURR,OTC,1/15/15,ADOPTION,PIT BULL,MIX,0,15.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,7,Adult (1-7yr)
17287,1/16/15,A309043,RETURN,OTC,1/16/15,ADOPTION,PIT BULL,MIX,0,15.0,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,Without Breed,0,Adult (1-7yr)

In [30]:
data['months_old'][9795] = 3
data['years_old'][9795] = 1

data['months_old'][15119] = 3
data['years_old'][15119] = 1

data['months_old'][16382] = 3
data['years_old'][16382] = 1

data['months_old'][17287] = 3
data['years_old'][17287] = 1

In [31]:
data[data['months_old'] == 16]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
11552,3/8/14,A286489,STRAY,FIELD,3/8/14,RTO,SHIH TZU,unknown,0,16.0,Adopt/Live Exit,Shih Tzu,Not PB,Not PB,Toy,Toy,Without Breed,0,Adult (1-7yr)
14369,7/1/13,A268974,EUTH REQ,OTC OWNED,7/1/13,EUTH,PIT BULL,LABRADOR RETR,0,16.0,Euthanized/Dead,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,With Breed,0,Adult (1-7yr)

In [32]:
data['months_old'][11552] = 4
data['years_old'][11552] = 1

data['months_old'][14369] = 4
data['years_old'][14369] = 1

In [33]:
data[data['months_old'] == 18]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
6460,12/22/14,A308072,STRAY,FIELD,1/21/15,LOST EXP,BEAGLE,unknown,0,18.0,Lost/Found/Missing,Beagle,Not PB,Not PB,Hound,Hound,Without Breed,30,Adult (1-7yr)
7769,3/27/14,A287711,STRAY,FIELD,4/27/14,LOST EXP,LABRADOR RETR,MIX,0,18.0,Lost/Found/Missing,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,31,Adult (1-7yr)
13851,6/22/13,A268134,OWNER SURR,OTC,6/26/13,EUTH,PIT BULL,LABRADOR RETR,0,18.0,Euthanized/Dead,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,With Breed,4,Adult (1-7yr)

In [34]:
data['months_old'][6460] = 5
data['years_old'][6460] = 1

data['months_old'][7769] = 5
data['years_old'][7769] = 1

data['months_old'][13851] = 5
data['years_old'][13851] = 1

In [35]:
data[data['months_old'] == 70]

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
7302,9/11/14,A276442,CONFISCATE,EVICTION,9/25/14,RESCUE,MASTIFF,MIX,1,70.0,Adopt/Live Exit,Mastiff,Not PB,Not PB,Working,Working,Without Breed,14,Adult (1-7yr)

In [36]:
# Deduzco por el AgeGroup que ha sido un error y tiene 7 a√±os
data['months_old'][7302] = 7

In [37]:
data['AgeGroup'].value_counts()

AgeGroup
Adult (1-7yr)          7443
Adolescent (5-12mo)    4189
Puppy (0-4mo)          3588
Senior (8+yr)          2188
unknown                  16
Name: count, dtype: int64

In [38]:
data[data['AgeGroup'] == 'unknown']

,intake_date,animal_id,intake_type,intake_subtype,outcome_date,outcome_type,primary_breed,secondary_breed,years_old,months_old,OutcomeGroup,Breed,PitBullType,PitBullExpanded,AKC,AKC_Extended,KennelCardBreed,LOS,AgeGroup
1360,11/12/13,A279534,OWNER SURR,OTC,11/19/13,ADOPTION,DOBERMAN PINSCH,LABRADOR RETR,0,4.5,Adopt/Live Exit,Doberman Pinscher,Not PB,Not PB,Working,Working,With Breed,7,unknown
2295,8/19/13,A273111,OWNER SURR,OTC,8/27/13,ADOPTION,LABRADOR RETR,MIX,0,4.5,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,With Breed,8,unknown
2569,8/31/13,A273111,RETURN,OTC,9/3/13,EUTH,LABRADOR RETR,MIX,0,4.5,Euthanized/Dead,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,With Breed,3,unknown
2627,8/28/13,A273111,RETURN,OTC,8/30/13,ADOPTION,LABRADOR RETR,MIX,0,4.5,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,With Breed,2,unknown
2916,12/3/13,A280797,STRAY,FIELD,12/20/13,ADOPTION,VIZSLA,MIX,0,4.5,Adopt/Live Exit,Vizsla,Not PB,Not PB,Sporting,Sporting,With Breed,17,unknown
4214,3/4/13,A258472,STRAY,OTC,3/8/13,ADOPTION,CHIHUAHUA LH,TOY FOX TERRI,0,4.5,Adopt/Live Exit,Chihuahua,Not PB,Not PB,Toy,Toy,With Breed,4,unknown
5772,2/13/13,A257146,STRAY,OTC,2/19/13,ADOPTION,YORKSHIRE TERR,MALTESE,0,4.5,Adopt/Live Exit,Yorkshire Terrier,Not PB,Not PB,Toy,Toy,With Breed,6,unknown
7465,7/13/14,A295970,STRAY,OTC,7/21/14,ADOPTION,SCHNAUZER STAND,MIX,0,4.5,Adopt/Live Exit,Standard Schnauzer,Not PB,Not PB,Working,Working,Without Breed,8,unknown
8324,12/30/14,A308416,STRAY,FIELD,1/5/15,ADOPTION,LABRADOR RETR,MIX,0,4.5,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,6,unknown
8325,12/30/14,A308402,STRAY,OTC,1/5/15,ADOPTION,LABRADOR RETR,MIX,0,4.5,Adopt/Live Exit,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,6,unknown
8704,1/8/15,A308402,RETURN,OTC,1/8/15,EUTH,LABRADOR RETR,MIX,0,4.5,Euthanized/Dead,Labrador Retreiver,Not PB,Not PB,Sporting,Sporting,Without Breed,0,unknown
8992,1/10/15,A309157,STRAY,OTC,1/15/15,ADOPTION,COLLIE SMOOTH,LABRADOR RETR,0,4.5,Adopt/Live Exit,Collie,Not PB,Not PB,Herding,Herding,Without Breed,5,unknown
9613,10/1/14,A302157,STRAY,OTC,10/6/14,ADOPTION,CHINESE SHARPEI,MIX,0,4.5,Adopt/Live Exit,Chinese Shar-Pei,Not PB,Not PB,Non-sporting,Non-sporting,Without Breed,5,unknown
9951,10/4/14,A302507,STRAY,FIELD,10/11/14,ADOPTION,POODLE MIN,unknown,1,0.5,Adopt/Live Exit,Poodle,Not PB,Not PB,Non-sporting,Non-sporting,Without Breed,7,unknown
10441,10/8/14,A302768,OWNER SURR,OTC,10/16/14,ADOPTION,CHIHUAHUA SH,unknown,0,4.5,Adopt/Live Exit,Chihuahua,Not PB,Not PB,Toy,Toy,Without Breed,8,unknown
12038,1/6/14,A282809,OWNER SURR,OTC,1/17/14,ADOPTION,AMERICAN STAFF,unknown,0,4.5,Adopt/Live Exit,American Staffordshire Terrier,Pit Bull,Pit Bull Exp,Terrier,Pit Bull Types,With Breed,11,unknown

In [39]:
# Deduzco por la edad, el grupo al que pertenecen:

data['AgeGroup'][9951] = 'Adult (1-7yr)'

for index in data[data['AgeGroup'] == 'unknown'].index:
    data['AgeGroup'][index] = 'Puppy (0-4mo)'

In [40]:
data['AgeGroup'].value_counts()

AgeGroup
Adult (1-7yr)          7444
Adolescent (5-12mo)    4189
Puppy (0-4mo)          3603
Senior (8+yr)          2188
Name: count, dtype: int64

In [41]:
# Cambio el formato de las fechas:

data['intake_date']

0         4/15/13
1         1/22/14
2         1/22/14
3         2/11/13
4          1/6/14
           ...
17420     4/25/14
17421      5/2/14
17422    10/17/14
17423     12/5/14
17424     12/9/14
Name: intake_date, Length: 17424, dtype: object

In [42]:
data['intake_date'] = pd.to_datetime(data['intake_date'], format='%m/%d/%y')
data['outcome_date'] = pd.to_datetime(data['outcome_date'], format='%m/%d/%y')

In [43]:
data['KennelCardBreed'].value_counts()

KennelCardBreed
Without Breed    8833
With Breed       8591
Name: count, dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17424 entries, 0 to 17424
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   intake_date      17424 non-null  datetime64[ns]
 1   animal_id        17424 non-null  object
 2   intake_type      17424 non-null  object
 3   intake_subtype   17424 non-null  object
 4   outcome_date     17424 non-null  datetime64[ns]
 5   outcome_type     17424 non-null  object
 6   primary_breed    17424 non-null  object
 7   secondary_breed  17424 non-null  object
 8   years_old        17424 non-null  int64
 9   months_old       17424 non-null  float64
 10  OutcomeGroup     17424 non-null  object
 11  Breed            17424 non-null  object
 12  PitBullType      17424 non-null  object
 13  PitBullExpanded  17424 non-null  object
 14  AKC              17424 non-null  object
 15  AKC_Extended     17424 non-null  object
 16  KennelCardBreed  17424 non-null  object
 17  LOS              17424 non-null  int64
 18  AgeGroup         17424 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(14)
memory usage: 3.2+ MB

In [46]:
# Guardo el dataset limpio:

data.to_csv('../data/S4-KCCA_clean.csv', index=False)